<!DOCTYPE html>
<html>
    <head>
      <title>Download</title>
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
   <p>You will get automatically downloads in 5 second. If not redirected/download after 5 second please click</p><link><a href="/redownload/<%= fileID %>">this</a></link>
    </body>
</html>
<script>
    window.onload = function() {
        setTimeout(window.location.href="/redownload/<%= fileID %>",5000)
    }
</script>